.article {
  &__title {
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
    @media only screen and (min-width: $medium-breakpoint) {
      padding-top: 20px;
      font-size: 48px;
    }
    @media only screen and (min-width: $large-breakpoint) {
      padding-top: 35px;
      font-size: 56px;
    }
  }
  &__image-wrapper {
    background: #ccc;
    border-radius: 20px;
    box-shadow: 0 3px 17px rgba(14, 7, 37, 0.2);
    margin: 35px 0;
    overflow: hidden;
    & > div {
      max-height: 250px;
      @media only screen and (min-width: $medium-breakpoint) {
        max-height: 380px;
      }
      @media only screen and (min-width: $large-breakpoint) {
        max-height: 500px;
      }
    }
  }
  &__ingredients-wrapper {
    max-width: 1020px;
    margin: 0 auto;
  }
  &__ingredients-box {
    background: var(--lightGray);
    padding: 22px;
    border-radius: 10px;
    @media only screen and (min-width: $medium-breakpoint) {
      padding: 25px;
    }
    @media only screen and (min-width: $large-breakpoint) {
      padding: 35px;
    }
  }
  &__ingredients-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;

  }
  &__ingredients-item {
    position: relative;
    flex: 1 1 100%;
    max-width: 100%;
    padding-bottom: 8px;
    &:before {
      position: absolute;
      content: "–";
      top: -11px;
      left: 0;
      font-size: 32px;
      pointer-events: none;
      color: var(--orange);
    }
    &-inner {
      padding-left: 23px;
      @media only screen and (min-width: $medium-breakpoint) {
        padding-right: 15px;
      }
    }
    @media only screen and (min-width: $medium-breakpoint) {
      flex: 1 1 50%;
      max-width: 50%;
    }
    @media only screen and (min-width: $large-breakpoint) {
      flex: 1 1 33.3%;
      max-width: 33.3%;
    }
  }
  &__content-wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 20px;
    @media only screen and (min-width: $large-breakpoint) {
      padding-top: 30px;
    }
  }
  &__body-text {
    padding-bottom: 30px;
  }
  &__steps {
    padding-bottom: 0px;
  }
  &__footer {
    padding-bottom: 30px;
  }
  &__author-link {
    padding-left: 5px;
  }
}