$spacing: 10px;
.article-list {
  margin-top: 30px;
  margin-bottom: 30px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$spacing;
    margin-left: -$spacing;
  }
  &__item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: $spacing;
    padding-left: $spacing;
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 30px;
    @media only screen and (min-width: $medium-breakpoint) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media only screen and (min-width: $large-breakpoint) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    &--large {
      flex: 0 0 100%;
      max-width: 100%;
      .article-list {
        &__title {
          font-size: 26px;
        }
        &__image {
          & > div {
            padding-bottom: 40% !important;
          }
        }
      }
      @media only screen and (min-width: $medium-breakpoint) {
        flex: 0 0 100%;
        max-width: 100%;
        .article-list {
          &__title {
            font-size: 32px;
          }
        }
      }
      @media only screen and (min-width: $large-breakpoint) {
        flex: 0 0 100%;
        max-width: 100%;
        .article-list {
          &__title {
            font-size: 38px;
          }
        }
      }
    }
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
    
  }
  &__image-wrapper {
    overflow: hidden;
    border-radius: 20px;
  }
  &__image {
    & > div {
      padding-bottom: 40% !important;
      @media only screen and (min-width: $medium-breakpoint) {
        padding-bottom: 45% !important;
      }
      @media only screen and (min-width: $large-breakpoint) {
        padding-bottom: 50% !important;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: var(--textColor);
  }
}