.content {
  &__title {
    margin-top: 20px;
    text-align: center;
  }
  &__wrapper {
    margin-top: 30px;
    &--center {
      text-align: center;
    }
  }
  &__empty {
    margin: 20px 0;
    text-align: center;
  }
}