.step-list {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 15px;
    @media only screen and (min-width: $medium-breakpoint) {
      margin-bottom: 20px;
    }
  }
  &__number {
    position: relative;
    text-align: right;
    font-family: $heading-font-family;
    padding-bottom: 10px;
    font-size: 42px;
    &-item,
    &-dot {
      line-height: 0.5;
    }
    &-dot {
      color: var(--orange);
    }
    @media only screen and (min-width: $medium-breakpoint) {
      position: absolute;
      top: -9px;
      right: calc(100% - 40px);
      padding-bottom: 0;
      font-size: 50px;
    }
  }
  &__content {
    @media only screen and (min-width: $medium-breakpoint) {
      min-height: 45px; // Height of number
      padding-left: 65px;
    }
  }
}