.theme-switch {
  &__container {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 26px;
  }
  &__handle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12.5px;
    overflow: hidden;
    background-color: var(--themeHandleBackground);
    color: var(--themeHandleColor);
    transition: 0.3s;
    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 2px;
      bottom: 2px;
      border-radius: 50%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      background: currentColor;
      transition: 0.3s background, 0.3s transform;
      z-index: 4;
    }
  }
  &__image {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    opacity: 1;
    transition: 0.25s ease;
    color: var(--themeHandleImage);
    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: currentColor;
      pointer-events: none;
      transform: translateZ(0);
    }
  }
  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12.5px;
    background-color: transparent;
    z-index: 3;
    pointer-events: none;
    & > .theme-switch__image {
      &:first-child {
        left: 5px;
      }
      &:last-child {
        right: 5px;
      }
    }
  }
  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
      & + label .theme-switch__handle {
        //background-color: #00ff00;
      }

      & + label .theme-switch__handle:before {
        transform: translateX(24px);
      }
    }
  }
  &__label {
    z-index: 4;
  }
}