// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

:root {
  -webkit-font-smoothing: antialiased;
  --white: #fff;
  --darkGray: #111;
  --lightGray: #eee;
  --darkBackgroundGray: #333;
  --lightBackgroundGray: #F9F9F9;
  --orange: #FF9D0B;
  --orangeHover: #c47a0c;
  --darkBlue: #120240;
  --darkBlueHover: #230382;
  --linkColor: var(--darkBlue);
  --linkColorHover: var(--darkBlueHover);
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  font-family: $body-font-family;
  color: var(--textColor);
  background-color: var(--white);
  font-size: 18px;
  transition: 0.3s background-color;
  &.dark {
    --linkColor: #e8eaed;
    --linkColorHover: #a4a4a4;
    --navigationBg: rgba(255, 255, 255, .04);
    --navigationMobileBg: #212325;
    --white: #e8eaed;
    --darkBackgroundGray: #202124;
    --lightGray: rgba(255, 255, 255, .04);
    --textColor: #e8eaed;
    --navigationSeparator: #e8eaed;
    --themeHandleColor: #e8eaed;
    --themeHandleBackground: #202124;
    --themeHandleImage: #e8eaed;
    background-color: var(--darkBackgroundGray);
  }
  &.light {
    --navigationBg: var(--white);
    --navigationMobileBg: #efefef;
    --themeHandleColor: #e8eaed;
    --themeHandleBackground: #212325;
    --themeHandleImage: #e8eaed;
    --navigationSeparator: #000;
    color: var(--darkBlue);
    background-color: var(--lightBackgroundGray);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.6;
}

ul {
  padding: 0;
}

img {
  vertical-align: middle;
}

