// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans/open-sans-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans/open-sans-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans/open-sans-latin-italic.woff2') format('woff2'),
       url('../fonts/open-sans/open-sans-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans/open-sans-latin-600.woff2') format('woff2'),
       url('../fonts/open-sans/open-sans-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../fonts/playfair/playfair-display-latin-regular.woff2') format('woff2'), 
       url('../fonts/playfair/playfair-display-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
       url('../fonts/playfair/playfair-display-latin-700.woff2') format('woff2'),
       url('../fonts/playfair/playfair-display-latin-700.woff') format('woff');
}