.icon {
	display: inline-block;
	vertical-align: middle;
	position: relative;
  &__svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		fill: currentColor;
		pointer-events: none;
		transform: translateZ(0);
    &:before {
      content: '';
      display: block;
    }
  }

	&--burger {
		width: 33px;
		&:before {
			padding-top: percentage(16 / 33);
    }
  }
}

	