// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
  line-height: 1.2;
  margin: 20px 0 10px;
  outline: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $heading-font-family;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: inherit;
}

h1,
.h1 {
  font-size: 32px;
  font-weight: 700;
  @media only screen and (min-width: $medium-breakpoint) {
    font-size: 36px;
  }
  @media only screen and (min-width: $large-breakpoint) {
    font-size: 42px;
  }
}

h2,
.h2 {
  font-size: 26px;
  font-weight: 400;
  @media only screen and (min-width: $medium-breakpoint) {
    font-size: 28px;
  }
  @media only screen and (min-width: $large-breakpoint) {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  @media only screen and (min-width: $medium-breakpoint) {
    font-size: 22px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 1.3;
}

p {
  margin: 0 0 1.25em;
}

a {
	color: var(--linkColor);
	text-decoration: underline;
	transition: color .3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);;
	&:hover {
		color: var(--linkColorHover);
  }
}
