.navigation {
  background: var(--navigationBg);
  
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 95px;
    height: 100%;
    color: var(--textColor);
    &:hover {
      color: var(--textColor);
    }
    &--large {
      display: block;
    }
    &--small {
      display: none;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding: 40px 12px;
    text-decoration: none;
    font-size: 16px;
  }

  &__theme-switch {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 45px;
    &:before {
      position: absolute;
      content: "";
      display: block;
      top: 50%;
      left: 27px;
      transform: translate(-50%, -50%);
      height: 30px;
      width: 1px;
      background: var(--navigationSeparator);
      opacity: 0.3;
      transition: 0.3s backround; 
    }
  }

  &__hamburger {
    display: none;
    &-item {
      padding: 20px 10px 20px 25px;
      background: transparent;
      border: 0;
      color: var(--textColor);
      &--close {
        display: none;
        .icon {
          width: 18px;
          height: 20px;
        }
      }
      &--open {
        display: block;
        .icon {
          width: 20px;
        height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: $large-breakpoint - 1) {
  .navigation {
    &__list {
      flex-wrap: wrap;
      position: absolute;
      top: 100%;
      left: 0px;
      right: 0px;
      background: var(--navigationMobileBg);
      z-index: 100;
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 0;
      opacity: 0;
      pointer-events: none;
    }
    &__item {
      width: 100%;
    }
    &__logo-wrapper {
      display: flex;
      align-items: center;
    }
    &__logo {
      height: 100%;
      width: 33px;
      &--large {
        display: none;
      }
      &--small {
        display: block;
      }
    }
    &__link {
      padding: 11px 20px;
    }
    &__hamburger {
      display: block;
    }
  }
}

.is-nav-opened {
  .navigation {
    &__list {
      opacity: 1;
      pointer-events: all;
    }
    &__hamburger {
      &-item {
        &--close {
          display: block;
        }
        &--open {
          display: none;
        }
      }
    }
  }
}