$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;


$body-font-family: "Open Sans", Roboto, Arial, sans-serif;
$heading-font-family: "Playfair Display", Palatino, serif;
//$body-color: #111111;
//$headings-color: $body-color;
//$body-bg: #f5f5f5;
//$global-light-gray: rgba(0, 0, 0, 0.1);